html,body{
    display: flex;
    justify-content: center;
    background-image:url("galaxy.jpg");
    background-repeat: no-repeat;
}
canvas{
    border: 1px solid darkred;
}
#container{
    color: white;
    background-color: darkslateblue;
}
